http://mqtt.private.fantastiskefroe.dk {
	reverse_proxy node-mqtt:80
}

http://pc.private.fantastiskefroe.dk {
	reverse_proxy breadboard-pc-programmer:8043
}

http://chicken-tracker.private.fantastiskefroe.dk {
	reverse_proxy chicken-tracker:8043
}

http://chicken-data.private.fantastiskefroe.dk {
	reverse_proxy chicken-data-native:8080
}
